<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnySerializer" version="1.1.46" targetFramework="net472" />
  <package id="BEPUphysics" version="1.5.2" targetFramework="net472" />
  <package id="BEPUutilities" version="1.5.1" targetFramework="net472" />
  <package id="geometry3Sharp" version="1.0.324" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="YAXLib" version="3.0.1" targetFramework="net472" />
</packages>